html,
body {
  height: 100%;
}

* {
  font-family: "Object Sans Slanted ", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__footer{
  max-width: 1191.89px;
  margin: 0 auto;
  padding: 0 15px;
}


@media screen and (min-width: 1700px){
  .additional__container{
    max-width: 1440px;
    margin: 0 auto;
  }
}